.body {
    display: flex;
    flex-direction: column;
}


.footer {
    font-size: 18px;
    background: #1F2937;
    color: #F9FAF8;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.one {
    background-color: #1F2937;
    font-family: Robota;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}