body {
    font-family: Roboto;
}


.body {
    display: flex;
    flex-direction: column;
}


.footer {
    font-size: 18px;
    background: #1F2937;
    color: #F9FAF8;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.one {
    background-color: #1F2937;
    font-family: Robota;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0 solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: 700;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}